.partner {
  padding-bottom: 15px;
}
.partner .partner-list {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 0 30px;
}
.partner .partner-list .partner-item img {
    margin: 0 auto;
}
@media screen and (max-width: 1023.98px) {
    .partner .partner-list {
       
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 25px 0;
      }
}

@media screen and (max-width: 576px) {
  .partner .partner-list {
   
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 400px) {
    .partner .partner-list {
     
      grid-template-columns: 1fr;
    }
  }